{% extends 'base.html' %}
{% load bootstrap4 %}

{% load i18n %}
{% block content %}

<div class="w-50 m-auto">
  <br>
  <h1>{% trans "Sign Up" %}</h1>
  <br>
  
  <p>이미 계정이 있으신가요? 바로 <a href="{% url 'accounts:login' %}" class="text-danger">로그인</a> 하세요.</p>

  <form class="signup form" id="signup_form" method="post" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <!-- {{ form.as_p }} -->
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% buttons %}
      <button type="submit" class="btn btn-danger w-100">{% trans "Sign Up" %} &raquo;</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}